<div id="about-me" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">

    <div class="row">

      <div class="col-md-6 col-xs-12">
        <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1470258259/shelleyscenic_ichvvf.jpg" class="img-responsive" id="shelley-scenic">
      </div>

      <div class="col-md-6 col-xs-12 body-text" id="text1">
        <p>
          I am passionate about my work and I love helping people reconnect with themselves. 
          Healing from trauma and grief is not just about surviving the experience, 
          it is also about learning to LIVE again. I enjoy being part of this process and 
          empowering people to grow, change, heal, and thrive! 
        </p>
        <p>
          I believe it is important to get to the root of the problem, not just manage symptoms.
          One of the gifts I bring to you is listening deeply and helping you feel understood 
          as we collaborate on implementing practical solutions. 
        </p>
      </div>
      <div class="col-md-12 body-text" id="text2">
        <p>
          I graduated with a Masters in Social Work in 2004 from the University of Tennessee 
          Knoxville. I focused on clinical therapy with a specialization in sexual assault and 
          abuse survivors. Since then I have worked in various settings: inpatient/outpatient 
          mental health, veterinary social work, supervising visitation between noncustodial 
          parents and their children, substance abuse, Alzheimer’s Association, and rape crisis 
          centers. I am currently a Staff Therapist at Northwest Center Against Sexual Assault 
          (Northwest CASA) and Services Manager for the CARE Center, Northwest CASA’s McHenry 
          satellite. While at Northwest CASA, I started an animal assisted therapy program with 
          my dog, Cassie. To learn more about animal assisted therapy and Cassie click <a [routerLink]="['/cassie']">here</a>.
        </p>
        <p>
          If you are interested in setting up an appointment, please contact me. 
          I would be honored to work with you!
        </p>
      </div>
    </div>

  </div>
</div>