<div id="trauma" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">Trauma/PTSD</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        Trauma happens when something you experienced was bigger than the amount of coping
        available at the time. There are many reasons why you might be feeling the way you do.
        The following is a list of traumatic events, but it is by no means exhaustive.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        <ul>
          <li>Sexual assault or abuse</li>
          <li>Physical assault or abuse</li>
          <li>Mental/emotional/verbal abuse</li>
          <li>Neglect</li>
          <li>Serious accident, illness, or medical procedure</li>
          <li>Surviving or witnessing a crime</li>
          <li>Surviving or witnessing community violence</li>
          <li>Historical trauma</li>
          <li>School violence/bullying</li>
          <li>Forced displacement</li>
          <li>Military trauma</li>
          <li>Grief</li>
          <li>Traumatic separation</li>
          <li>System­Induced Trauma</li>
          <li>Oppression/discrimination</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        The good news is, you can HEAL! I want to make sure you feel safe, respected, and
        understood as you go through your healing journey. Contact me today to start on your
        path towards reclaiming your life.
      </div>
    </div>
  </div>
</div>