@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";

/**** Contact Section ****/

#contact-link {
  position: relative;
  float: left;
  text-align: center;
  background-color: $brand-dark-bg;
  width: 100%;
  padding-top: 1.5%;
  button {
    background-color: $brand-dark;
    margin-top: 10px;
  }
}

#contact-text {
  text-align: center;
  color: $white-light;
  margin-bottom: 40px;
}

#contact-link {
  text-align: center;
  margin-top: 3%;
  color: $gray-fade;
}

#contact-icons {
  display: inline-flex;
  background-color: lighten($brand-dark-bg, 3%);
  border-radius: 50px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 3%;
  a {
    color: white;
    margin: 0 20px 0 20px;
    transition: 0.5s;
    &:hover {
      color: $brand-light !important;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $gray-lighter;
}

#contact-form {
  text-align: left;
}


#copy {
  margin-top: 80px;
}

#back-top {
  position: absolute;
  right: 35px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 3px 3px 0px hsla(0, 0%, 16%, 0.3);
  .fa-chevron-up {
    font-size: 25px;
    position: relative;
    line-height: 32px;
    right: 3px;
  }
}

/**** Animations ****/

.page-transition {
  animation-duration: 0.6s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/***** All *****/

.divider {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background-color: $brand-primary;
  width: 20%;
}

.body-text {
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
}

.card {
  padding: 10px;
  box-shadow: 0 -1px 0 hsl(0, 0%, 90%),
              0 0 2px hsla(0, 0%, 0%, 0.12),
              0 2px 4px hsla(0, 0%, 0%, 0.24);
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  transition: 0.4s;
  &:hover {
    box-shadow: 0 0 6px hsla(0, 0%, 0%, 0.16),
                0 6px 12px hsla(0, 0%, 0%, 0.32);
    cursor: pointer;
  }
}