<div [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">Forms</h1>
    <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
      Please download, fill out, and bring these forms to your first visit.
    </div>
    <div (click)="download('hipaa')" class="col-md-2 col-xs-4 col-md-offset-3 col-xs-offset-1 card">
      <i class="fa fa-file-text" aria-hidden="true"></i>
      <p class="filename">HIPAA and Client's Rights</p>
    </div>
    <div (click)="download('consent')" class="col-md-2 col-xs-4 col-xs-offset-1 card">
      <i class="fa fa-file-text" aria-hidden="true"></i>
      <p class="filename">Informed Consent</p>
    </div>
  </div>
</div>