@import '../shared/common-styles';

h3 {
  height: 25%;
  margin-top: 8%;
  margin-bottom: 6.25%;
}

.card {
  margin-top: 30px;
}

.fa-file-text {
  font-size: 30px;
  color: hsl(211, 49%, 60%);
}

.filename {
  padding-top: 15px;
  margin-bottom: 5px;
}