<div [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        <h3>Licensure Supervision</h3>
        <p>
          I love helping new clinicians grow in their skills! Obtaining supervision for licensure can
          often be frustrating if the agency or workplace you are with does not have licensed
          clinicians on staff. Being a new clinician and paying high rates to obtain supervision can
          also be an obstacle. I am here to help! I offer low cost Licensure Supervision in either
          individual or group format depending on your needs. My schedule is flexible to be able to
          meet with you weekly, bi­weekly, or monthly.
        </p>
        <p>
          If you would like to talk more about how I can provide you supervision, contact me anytime!
        </p>
        <h3>Clinical Consultation for Licensed Professionals</h3>
        <p>
          Anyone working in this field needs to be able to consult with other professionals. I believe
          it is our ethical duty to better our clinical skills by doing so. If you are currently without
          consultation, or you don't have someone in your area of specialty to consult with, I would
          be glad to talk to you more about what your needs are and how I can help. My schedule is
          flexible to be able to meet with you weekly, bi­weekly, or monthly, depending on your
          needs.
        </p>
        <p>
          Feel free to contact me if you are interested in learning more!
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1470258281/shelleytalk_ezacku.jpg" class="img-responsive talk">
        </div>
        <div class="col-md-8 col-xs-12 body-text">
          <h3>Training/Workshops</h3>
          <p>
            One of my passions is education and I have been conducting trainings for over 10 years.
            For the past 5 years, I have been an adjunct professor at Oakton Community College
            where I teach the course I developed called Sexual Assault Crisis Intervention. I am
            currently working with Harper College to develop a similar course.
          </p>
          <p>
            I have provided trainings in various settings and to various professionals ­ social
            service/mental health, law enforcement, medical professionals, and educators. I am adept
            at tailoring my presentations to fit the needs of the audience.
          </p>
          <p>
            I can provide trainings or interactive workshops on the following topics:
          </p>
          <ul>
            <li>Privilege and Oppression</li>
            <li>History and Politics of the Rape Crisis Movement</li>
            <li>Rape Culture</li>
            <li>Rape Trauma Syndrome and How to Respond to Sexual Assault Survivors</li>
            <li>Crisis Intervention with Adult Survivors of Sexual Assault</li>
            <li>Crisis Intervention with Child and Adolescent Survivors of Sexual Assault</li>
            <li>Sexual Violence</li>
            <li>Medical Advocacy with Sexual Assault Survivors</li>
            <li>Legal Advocacy with Sexual Assault Survivors</li>
            <li>Vicarious Trauma and Self-Care</li>
            <li>Animal Assisted Therapy</li>
          </ul>
          <p>
            If you are interested in having me provide trainings or workshops for your agency or staff,
            feel free to contact me!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
