@import '../shared/common-styles';

img {
  border-radius: 10px;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

#cassie-sig {
  width: 70px;
}

#cassie {
  position: relative;
  top: 10px;
}

#cassie1 {
  height: 280px;
}

#cassie2 {
  height: 350px;
}