<div id="grief" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">LGBTQIAP</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
          I am able to provide individual, couples, and family therapy for those who are 
          lesbian, gay, bisexual, transgender/transexual, queer/gender variant, questioning, 
          intersex, asexual, and pansexual. As a member of this community, I understand the 
          importance of having a helping professional who respects, supports, and empathizes 
          with you and your journey, as well as understands the complex challenges you may be 
          facing.  I strive to create a safe environment, free from judgement, where you can be 
          yourself and your identity can be supported. 
          <br><br>
          Common areas of focus for individuals in this community may be:
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        <ul>
          <li>Coming out</li>
          <li>Trans issues such as internal identity, transitioning, transparenting, etc</li>
          <li>Exploration of gender identities/expressions</li>
          <li>Exploration of sexual orientations</li>
          <li>Parenting LGBTQIAP children</li>
          <li>Facilitating a healthy identity</li>
          <li>Supporting LGBTQIAP family/friends</li>
          <li>Social support</li>
          <li>Creating a chosen family</li>
          <li>Intimacy and dating</li>
          <li>HIV/chronic illness</li>
          <li>Oppression, marginalization, discrimination</li>
          <li>Trauma</li>
          <li>Intimate partner and/or family abuse</li>
          <li>Depression and/or anxiety</li>
          <li>Religious issues</li>
          <li>Identifying with preferred pronouns</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        If you feel you would like to discuss any of these issues, or an issue specific to 
        your situation, know that I am here for you. Feel free to contact me and I look 
        forward to hearing from you!
      </div>
    </div>
  </div>
</div>