<div id="grief" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">EMDR</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        EMDR (Eye Movement Desensitization Reprocessing) has been ranked as one of the #1 treatments for trauma by the World Health
        Organization and its effectiveness has been extensively researched since its inception in 1987 by Dr. Francine Shapiro.
        EMDR is also extremely useful for treating anxiety, panic attacks, phobias, grief, depression, issues stemming from
        childhood, low self-esteem, troubling life experiences, and body issues.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        The theory behind EMDR is that due to a traumatic experience, the brain cannot process information in its usual way, so the
        information gets “stuck”. If material cannot be processed by the brain, it will continually get re-triggered as well
        as trigger the symptoms you may be experiencing (this varies for each individual, but some examples are: intrusive
        memories, nightmares, flashbacks, anxiety, hypervigilance, panic attacks, negative thoughts, etc). Think of these
        troubling thoughts and memories like boulders in a river. It's hard to navigate around them and, at times, they can
        tip your raft. EMDR has a direct effect on the brain's ability to process your experiences properly so these troubling
        thoughts and memories no longer have the impact they once did (the boulders are turned into pebbles!) After successful
        EMDR treatment, you will notice a significant reduction in symptoms associated with your issue.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        It is important that you receive EMDR treatment from someone who is properly trained. I received my training from the EMDR
        Institute which is associated with the EMDR International Association which was founded by the creator of EMDR, Dr.
        Francine Shapiro. I am fortunate to be mentored by a clinician who learned EMDR directly from Dr. Shapiro herself.
        I attend regular trainings and receive consultation regarding my EMDR practice, so as to better my skills and make
        treatment more effective and successful for my clients.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        If you are interested in receiving EMDR, or have questions about this form of treatment, please feel free to contact me!
      </div>
    </div>
  </div>
</div>