<div id="grief" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">Grief</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        Grief happens when you experience feelings as the result of something changing or
        ending. Most people think of grief when it relates to death of a person, however there are
        many reasons why you might be experiencing grief. The following is a list of causes for
        grief, however because grief is a form of trauma, note that your grief is personal to you
        and might not exactly fit in these categories.
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        <ul>
          <li>Death of a person</li>
          <li>Death of a pet/animal</li>
          <li>Divorce/separation</li>
          <li>Injury/illness</li>
          <li>Major life changes (for the good or bad)</li>
          <li>Work changes</li>
          <li>Family issues/changes</li>
          <li>Sexual difficulties</li>
          <li>Marital difficulties</li>
          <li>Financial changes</li>
          <li>School difficulties or changes</li>
          <li>Change in living conditions</li>
          <li>Loss or changes in friendships</li>
          <li>Holidays</li>
          <li>Loss of childhood</li>
          <li>Loss of safety</li>
          <li>Identity issues</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        Grief is a normal and natural reaction to loss or change. Please feel free to contact me
        and we can talk more about what you are struggling with and make a plan to start you on
        the journey towards healing.
      </div>
    </div>
  </div>
</div>