@import '../shared/common-styles';

#home {

}

#title-body {
  text-align: center;
}

#home-info {
  margin-top: 40px;
  font-weight: 300;
  line-height: 30px;
  #intro {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  #home-text {
    font-size: 20px;
  }
}

#home-pic {
  img {
    border-radius: 20px;
    width: 400px;
  }
}

#signature {
  margin-top: 40px;
}