<div id="home" class="container" [class.page-transition]="transitionService.isTransitioning()">
    
  <div class="row">
    <div class="col-xs-12" id="title-body">
      <h1>Empowerment on the journey to healing</h1>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row" id="home-info">
    <div class="col-xs-12">
      <h3 id="intro">
          Hello! Thank you for visiting my webpage.
      </h3>
    </div>
    <div class="col-md-6 col-xs-12" id="home-text">
      <p>
        My specialty is helping people heal from trauma and grief. I like to create a safe environment and
        use a collaborative approach, because I believe it is important that you have a say in your healing
        journey. Depending on your needs, I enjoy using different modalities such as Art Therapy, Sand
        Tray Therapy, Animal Assisted Therapy, and Mindfulness in addition to talk therapy with
        individuals, couples, and families.
      </p>
      <p>
        If you feel that it is the right time for you to start your healing journey, 
        please feel free to contact me. I look forward to talking with you soon!
      </p>
      <p id="signature">
        ~Shelley
      </p>
    </div>
    <div class="col-md-6 col-xs-12" id="home-pic">
      <img src="http://res.cloudinary.com/dz9rf4hwz/image/upload/v1467920003/placeholder_pw4fxp_gg4pjd.gif" alt="">
    </div>
  </div>
    
</div>