<div id="animal" [class.page-transition]="transitionService.isTransitioning()">
  <div class="container">
    <h1 class="text-center">Animal Assisted Therapy</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 body-text">
        <p>
          Animal Assisted Therapy is one way you can decide to work towards healing. Studies
          show that some of the benefits to those who engage in this modality can include: a
          decrease in anxiety, feeling more safe in the counseling environment, an increase in
          confidence/self­-esteem, and a decrease in psychological stress when dealing with
          trauma.
        </p>
        <p>
          It is important to me that you receive considerate and respectful treatment by
          professionals who are qualified. I received my certification by the Delta Society in Animal
          Assisted Therapy. The therapy dog used recieved her Canine Good Citizen Award
          through the American Kennel Club and has her therapy dog certification through the Pet
          Partners Program via the Delta Society.
        </p>
        <p>
          If you believe having a therapy dog present in session would be of benefit, feel free to
          contact me to learn more.
        </p>
        <p>
          To learn more about Cassie, the therapy dog used at Shelley Pier, MSW, LCSW, click
          <a [routerLink]="['/cassie']">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>